.button {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-transition: transform 0.1s;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 1);
}

.button:hover {
    -fx-border-color: black;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2
}

.button:pressed {
    -fx-border-color: black;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
}

.hangmanButton {
    -fx-background-image: url('../image/icon/hangman.png');
}

.quizButton {
    -fx-background-image: url('../image/icon/quiz.png');
}