.textArea {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.textArea:focused {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell:even {
    -fx-background-color: rgba(220, 220, 220, 0.3);
}

.list-cell:odd {
    -fx-background-color: rgba(240, 240, 240, 0.3);
}

.list-cell:selected {
    -fx-background-color: rgba(180, 180, 180, 0.3);
    -fx-text-fill: black;
}

.list-view {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical {
    -fx-pref-width: 10;
    -fx-opacity: 0.7;
}

.stack-pane {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.text-area {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.text-area:focused {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-faint-focus-color: transparent;
}