.root {
    -fx-background-color: #fdf5f3;
    -fx-background-image: url("../image/icon/background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: top left;
}

/* Button FXML css */

.button {
    -fx-background-color: #b0d4b8;
    -fx-background-radius: 25;
}

.button:hover {
    -fx-background-color: #eae7d6;
    -fx-background-radius: 25;
}

.button:pressed {
    -fx-background-color: #fdf5f3;
    -fx-background-radius: 25;
}

.gameButton.button {
    -fx-background-color: #fca2d1;
    -fx-background-radius: 25;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.gameButton.button:hover {
    -fx-background-color: #eae7d6;
    -fx-background-radius: 25;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.gameButton.button:pressed {
    -fx-background-color: #c588ea;
    -fx-background-radius: 25;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.dictionaryButton {
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.dictionaryButton:hover {
    -fx-background-radius: 0;
    -fx-background-color: #eeeeee;
}

.dictionaryButton:pressed {
    -fx-background-radius: 0;
    -fx-background-color: #e1e1e1;
}

.pane {
    -fx-background-color : #b0d4b8;
    -fx-background-radius: 20;
}

/* Dictionary FXML css */

.searchField {
    -fx-background-color: #e2e4e8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #b0d4b8, 20, 0.6, 0, 0);
}

.searchField:focused {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #0093EF;
}

.searchField:hover {
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #0093EF;
}

.ListView.content {
    -fx-background-color: #e2e4e8;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, #b0d4b8, 20, 0.6, 0, 0);
}

.browser {
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #0093EF;
}

.label {
    -fx-background-color: transparent;
}

.utilButton {
    -fx-background-color: #fdf5f3;
    -fx-background-radius: 5;
}

.utilButton:hover {
    -fx-background-color: #fdf5f3;
    -fx-background-radius: 5;
}

.utilButton:pressed {
    -fx-background-color: #fdf5f3;
    -fx-background-radius: 5;
}